<header>
  {{/*  header componet  */}}
  
  {{/*  <nav id="header" class="bg-white dark:bg-meme text-gray-700 dark:text-gray-300 flex-col flex sm:flex-row justify-between w-full z-10 top-0 shadow">
      <div class="inline-block py-2 px-2">
        <a href="/" class="text-xl font-bold">{{.Site.Title}}</a>
      </div>
      <ul class="flex space-x-4 mr-5">
        
        {{ range .Site.Menus.main }}
          <li class="mr-3">
            <a href=" {{ .URL }} " class="inline-block py-2 px-2 font-bold no-underline"> {{ .Name }}</a>
          </li>
        {{ end }}
        <div class="group inline-block relative">
          <button id="toggleMode" class="h-10 w-10 flex justify-center items-center focus:outline-none">
            <div id="dark-icon" class="hidden">
              <svg data-v-297af853="" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6"><title data-v-297af853="">Dark Mode</title> <path data-v-297af853="" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z"></path></svg>
            </div>
            <div id="light-icon">
              <svg data-v-297af853="" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6"><title data-v-297af853="">Light Mode</title> <path data-v-297af853="" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 3v1m0 16v1m9-9h-1M4 12H3m15.364 6.364l-.707-.707M6.343 6.343l-.707-.707m12.728 0l-.707.707M6.343 17.657l-.707.707M16 12a4 4 0 11-8 0 4 4 0 018 0z"></path></svg>
            </div> 
          </button>
          {{ partial "toggleMode.html" . }}
        </div>
  
      </ul>
    </nav>  */}}

   
   

    <div class="group inline-block fixed top-0 right-0 z-10">
      <button id="toggleMode" class="h-10 w-10 flex justify-center items-center focus:outline-none">
        <div id="dark-icon" class="hidden">
          <svg data-v-297af853="" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6"><title data-v-297af853="">Dark Mode</title> <path data-v-297af853="" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z"></path></svg>
        </div>
        <div id="light-icon">
          <svg data-v-297af853="" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6"><title data-v-297af853="">Light Mode</title> <path data-v-297af853="" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 3v1m0 16v1m9-9h-1M4 12H3m15.364 6.364l-.707-.707M6.343 6.343l-.707-.707m12.728 0l-.707.707M6.343 17.657l-.707.707M16 12a4 4 0 11-8 0 4 4 0 018 0z"></path></svg>
        </div> 
      </button>
      {{/*  {{ partial "toggleMode.html" . }}  */}}
    </div>

</header>