<div class="grid grid-cols-5 gap-7 ">

  {{ range .Pages.ByPublishDate.Reverse }}

    <div class="rounded-2xl flex flex-col bg-base-100 shadow-xl">
      <a href="{{.RelPermalink}}">
        <div class="relative pt-[60%] w-[80%] mt-[10%] mx-auto">
          <img src="{{.Params.cover}}" alt="Nothing" class="absolute top-0 left-0 rounded-xl object-cover w-full h-full" />
        </div>
        <div class="p-8 flex flex-col items-center text-center">
          <h2 class="text-xl leading-7 font-semibold mt-[4%] ">{{.Title}}</h2>
          <p class="mt-[10%]">{{.Description}}</p>
        </div>
      </a>
    </div>
  {{ end }}

{{/*  <ul>
    {{ range .Pages.ByPublishDate.Reverse }}
      <li><a href="{{.RelPermalink}}"> {{.Title}} </a></li> 
    {{ end }}
</ul>  */}}
</div>