{{ define "main" }}
<div class="hero min-h-screen ">
  <div class="hero-content text-center">
    <div class="text-5xl font-bold py-10">
      <p class="my-10 leading-loose">
        I have no ambitions nor desires. <br>
      To be a poet is not my ambition, <br>
       it's simply my way to be alone. </p>
      <button class="btn dark:btn-primary btn-secondary">
          <a href="/poem">    Fk Me</a> 
      </button>
    </div>
  </div>
</div>
  {{/*  <div class="flex-col text-center content-between pt-20 text-4xl ">
        <p class="mb-10">I have no ambitions nor desires.</p>
        <p class="mb-10">To be a poet is not my ambition,</p>
        <p>it's simply my way to be alone</p>
  </div>  */}}
{{ end }}
